body {
  background-color: #f8f9fa;
  line-height: 2;
  font-family: 'Vazir', sans-serif;
  user-select: none;
}

.hero-section {
  background: url(ww.jpg) no-repeat center center/cover;
  height: 60vh;
  position: relative;
  border-bottom-left-radius: 100% 30%;
  border-bottom-right-radius: 100% 30%;
}

.hero-text h1 {
  background-color: rgb(255, 0, 0);
  color: red;
  padding: 10px 20px;
  display: inline-block;
  font-size: 2rem;
  border-radius: 10px;

}

.ii {
  position: absolute;
  bottom: 20px;
  /* فاصله از پایین */
  left: 50%;
  /* وسط چین */
  transform: translateX(-50%);
  font-size: 110px;
  /* سایز فلش */
  color: rgb(255, 0, 0);
  /* رنگ فلش */
  animation: moveDown 400ms infinite alternate;

}

@keyframes moveDown {
  0% {
    transform: translate(-50%, 0);
    opacity: 0.5;
  }

  100% {
    transform: translate(-50%, 15px);
    opacity: 1;
  }
}

.blinking-logo {
  width: 120px;
  /* یا هر سایزی که خواستی */
  animation: blink 1.5s infinite;
}



.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.7s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.hero-text h1 {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(255, 0, 0);
  padding: 10px 20px;
  display: inline-block;
  font-size: 2rem;
  border-radius: 10px;
  animation: fadeInDown 2s ease-in-out;
}

.bg-primary a {
  color: #f8f9fa;
  text-decoration: none;
}

.content-box {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid #7a00ec;
  border-radius: 15px;
  box-shadow: 14px 11px 11px 11px rgba(0, 0, 0, 0.1);
}

.container span {
  font-size: 35px;
}

.container p {
  font: bold;
  font-size: 17px;
  font-family: 'Vazir', sans-serif;
}

.container h4 {
  color: red;
  font-size: 19px;
}



/* دکمه گوشه پایین راست */
#contact-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact-button:hover {
  background-color: #0056b3;
}

#quickContactBtn {
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold;
}

#contactOverlay {
  backdrop-filter: blur(4px);
  /* افکت شیشه‌ای زیبا */
}

#contactOverlay .bg-white {
  border-radius: 50px;
}

#contactOverlay .bg-primary,
.bg-danger {
  border-radius: 90px !important;
  /* !important برای اطمینان از اعمال */
}


.scroll-to-top:hover {
  background-color: #555;
}
@media (max-width: 768px) { .scroll-to-top { width: 40px; height: 40px; font-size: 20px; line-height: 40px; left: 10px; /* فاصله از چپ توی گوشی */ } } 
