.custom-box{
  border-radius: 0 13rem 13rem 0;
 height: 300px;
}
.section {
  position: relative;
  min-height: 400px;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  color: white;
}
.intro-section .overlay {
  background-color: rgba(32, 99, 143, 0.9);
}
.overlay{
  padding: 50px 0;
}
.intro-section{
  background-image: url(../imgfa_ir__5fe1c083aec21_1.jpg);
  height: 400px;
  background-size: cover
  ;}
.form-area {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.form-area h2 {
  margin-bottom: 20px;
  color: #008080;
}

.form-area input,
.form-area textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.form-area button {
  padding: 12px 20px;
  background-color: #008080;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.form-area button:hover {
  background-color: #006666;
}
.contact-section .overlay{
  background-color: rgb(0, 47, 255);
}
.contact-section{
  background-image:url(../roman-facade.jpg) ;
}
.services-section .overlay{
  background-color: rgba(178, 64, 64, 0.9);
}
.services-section{
  background-image:url(../imgfa_ir__5fd4a729c07c5_1.jpg) ;
}
  .about-section .overlay{
    background-color: rgba(68, 68, 68, 0.9); ;
  }
  .about-section {
    background-image:url(../poster_7bdb797b-5e93-4c41-8f16-5b78c9288ba5.jpeg)
  }